<!-- <img src="../../../assets/design/univers de rechange.png" alt="" style="position: absolute; z-index: 10;top: 15%;left:50%" width="200">
<img class="n1" src="../../../assets/design/n°1.jpeg" alt=""  width="250"> -->
<div id="carouselExampleIndicators" class="carousel fixing slide site-slide" style="border-radius:25px ;" data-ride="carousel">
    <!-- <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol> -->
    <div class="carousel-inner ">
      <div class="carousel-item active item1" style="">
        <div class="separation" style="width:22% ;"></div>       
          <div class="tools">
            <div style="display:flex ;flex-direction: column;align-items: center;justify-content: center; width: 50%;">
              <div class="el mb-1 mr-1" >
                <a type="button" routerLink="/nos-produits-filtree/0/0/0/0/0/0">
                  <img class="img-ele"  src="../../../assets//design/Trouver Une pièce.png"   alt="">
                </a>
              </div>
              <div class="el  mr-1">
                <a type="button" (click)="viewProfile()">
                  <img class="img-ele"  src="../../../assets//design/moncompte.png"  alt="">
                </a>
              </div>
             
            </div>
            <div style="display:flex ;flex-direction: column;align-items: center;justify-content: center;width: 50%;">
              <div class="el mb-1 ml-1">
                <a type="button" routerLink="/add-annonce">
                  <img class="img-ele"  src="../../../assets//design/publier des annonces.png"   alt="">
                </a>
              </div>
            <div class="el  ml-1">
              <a type="button" routerLink="/actualite">
                <img class="img-ele"  src="../../../assets//design/publier des posts.png"   alt="">
              </a>
            </div>
           
            </div>
          </div>
          <div class="univers-class" style="">
          <img class="univers" src="../../../assets/design/univers.png"  alt="">
          </div> 
          <div class="moteur-class" style="width:30%;display: flex;align-items: center;justify-content: center;" >
          <img class="moteur" src="../../../assets/design/moteur.png" alt=""></div>
      </div>
      <!-- <div class="carousel-item item2">
        
      </div>
      <div class="carousel-item item2">
        
      </div> -->
      
    </div>
    <!-- <a class="carousel-control-prev myArrow" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next myArrow" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
    
  </div>