.logo{

    position: absolute;
    top: -55%;
}
.add-pop{
    display: flex;
}
/* .menu-list{
    margin-left:30% ;
} */
.nom{
    display: none;

}
.menu-list{
   margin-left: 30%;
}

.image-user{
    height: 5px;
}


.page-mobile{
    display:none;
   }
@media only screen and (max-width:800px){
   .page-mobile{
    display: flex;
   }
    .add-pop{
        display: none;
    }
    .logo{
        width: 275px;
        height: 260px;
        position: absolute;
        top: -180%;
        left: -12%;
    }
    .icon{
        display:none;
    }
    .menu-list{
        margin-left: 01%;
     }
  
    .nom{
        display: flex;
        
    }
    /* .menu-list{
        margin-left:3% ;
    } */
    .msg-icn{
        display: none;
    }
}

