<div class="navbar navbar-expand navbar-light shadow" style="height:50px ;background-color: rgb(255, 255, 255);">
  <a  type="button" class="openbtn2" id="openbtn2" onclick="openNav()">☰</a>
  <a  type="button" class="home-btn" style="" id="" routerLink="/"><img src="../../../assets/design/home.png" width="25" alt=""></a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="groupe-btn navbar-nav">
      <!-- ---------------------------------message-------------------------------- -->
     
     <!-- -------------------------------------S'inscrire----------------------------------  -->
      <div class="ml-4">
        <a
          type="button"
          class="inscription-btn"
          style="
         "
          data-toggle="dropdown"
          *ngIf="!authService.isloggedIn"
          routerLink="/login"
        >
        <i class="fas fa-sign-in-alt"></i> &nbsp;S'identifier
      </a>
      </div>
      <!-- -------------------------------------S'inscrire----------------------------------  -->
      <div class="ml-2 inscription-large">
        <app-add-user></app-add-user>
      </div>
      <div class="ml-2 inscription-small">
        <a
        type="button"
        class="inscription-btn"
        style="
       "
        data-toggle="dropdown"
        *ngIf="!authService.isloggedIn"
        routerLink="/inscription-resp"
      >
      <i class="fa fa-user-plus"></i> &nbsp;S'inscrire
    </a>
      </div>
<!---------------user---------------------------------------------------------------- -->
       
  </div>
  </div>
</div>