.root{
    display: flex;
 
}

.create-article{
    width: 25%;
    display: flex; 
    /* justify-content:center */
    flex-direction: column;
    z-index: 9997;
}

.articles{ 
    width: 50%;
    margin-bottom: 40px;
  
}

.config{ 
    width: 25%;  
}

.n{
    position: sticky;
    top:0px;
    width: 100%;
 z-index: 9998; 

}
@media screen and (max-width:790px){
    .root{
        display: flex;
        flex-direction: column;
     
    }
    .config{ 
        width: 0%; 
        display: none; 
    }
    .create-article{
        width: 100%;
        display: flex; 
        /* justify-content:center */
        flex-direction: column;
        z-index: 9997;
    }
    
.articles{ 
    width: 95%;
    margin-bottom: 20px;
  
}
.photo{
    display: none;
}
.text{
    display: none;
}

}

@media only screen and (max-width:800px){
 
    #main {
      transition: none;
      padding: 0px;
      margin-Left:0px !important;
    } 
}
#main {
    transition: margin-left .5s;
    
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }