.localisation{
    display:flex;
   
}

.add-prod{
    background-image: url(../../../../assets/design/cat-home-fond.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.all{
    display:flex;
    
    width: 70%;
    margin: auto;
    flex-direction: column; 
     
}
.left{
    display:flex;
    width:100%; 
    flex-direction: column; 
}
.right{
    display:flex;
    width:100%; 
    flex-direction: column; 
}
@media only screen and (max-width:790px){
    .all{
        display:flex;
        flex-direction: column;
        width: 100%;
    }
    .left{
        display:flex;
        width:100%; 
        flex-direction: column; 
    }
    .right{
        display:flex;
        width:100%; 
        flex-direction: column; 
    }

    .modal-content {
        top: -2%;
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 80%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1pxsolidrgba(0,0,0,.2);
        border-radius: 0.3rem;
        outline: 0;
    }
}

@media only screen and (max-width:800px){
 
    #main {
      transition: none;
      padding: 0px;
      margin-Left:0px !important;
    } 
}
#main {
    transition: margin-left .5s;
    
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  .filter-btn{
    background-image: url(../../../../assets/design/menu.png);
  
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    transition: transform .2s;
    width: 20%;
    height: 40px;
}
.filter-btn:hover{
    transform: scale(1.2);
} 

@media only screen and (max-width:800px){
    .filter-btn{
        background-image: url(../../../../assets/design/menu.png);
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 1rem;
        transition: transform .2s;
        width: 50%;
        height: 40px;
    }  
}