.global{
    display: flex;
}

.contact-form{
   
    width: 100%;
}

.maps{
    width: 100%;
    display: flex;
}
.form-int{
    width: 60%;
    margin: auto;
}
iframe {
    width:100%
}

@media only screen and (max-width:790px){
    .global{
        display: flex;
        flex-direction: column;
    }  
}




@media only screen and (max-width:800px){
    .fleche img{
        position:absolute;
        left: 80%;
        /* top: -1184px; */
        top: 800px;
    border-radius: 5px;
        width: 35px;
        height: 35px;
        transition: transform .2s;
        border: 2px solid white;
    }
    .fleche img:hover{
        transform: scale(1.1);
    } 
    #main {
      transition: none;
      padding: 0px;
      margin-Left:0px !important;
    } 
}
#main {
    transition: margin-left .5s;
    
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
