.entete{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
.entete h5 {
    width: 80%;
    align-items: center;
}

.entete .ajouter {
    width: 10%;
    align-items: flex-end;
}
.tab{
    margin-left: 0%;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }