@media only screen and (max-width:800px){
    /* .create{
        position: absolute;
        top: 126%;
        width: 151%;
        height: 500px;
        left: -21%;
        padding-right: 17px;
        display: block;
    } */

    .all-art-create{
        width: 65%;
        
    }


}
 /* .create{
    position:absolute;
   height: 500px;
    top: -78%;
   width: 200%;
   height: 500px;
   left: 121%;
 } */