<div class="all mt-5 ml-5">
    <div class="left">
        <div class="right-up">
 <a routerLink="/nos-produits-filtree/0/0/0/0/0/0">
    <img class="img-ofr" src="../../../assets/design/1__recherche.png" alt="">
 </a>
    
        </div>
        <div class="right-up">
 <a routerLink="/nos-produits-filtree/0/0/0/0/0/0">
    <img class="img-ofr" src="../../../assets/design/3__commande.png" alt="">
 </a>

        </div>
    </div>
    <div class="right">
        <div class="right-up">
<a routerLink="/add-annonce">
    <img class="img-ofr" src="../../../assets/design/2__annonce.png" alt="">
</a>

        </div>
        <div class="right-up">
            <a routerLink="/actualite">
                <img class="img-ofr" src="../../../assets/design/4__local.png" alt="">
            </a>

        </div>
    </div>
    <!-- <button  class="btn btn-danger inscrire"><b>S'inscrire</b> </button> -->
  <div class="image">
    <img class="pic" src="../../../assets/design/ofr.png" alt="" >
  </div>  
    
</div>