.all{
    display: flex;
    height: 400px;
 
}
.inscrire{
    position: absolute;
    z-index: 10;
    top: 104%;
    left: 68%;
    width: 15%;
}
.image{
   
  display: flex;
  width: 33%;
  align-items: flex-start;
  justify-content: center;
   
}
.pic{
    width: 90%;
    border-radius: 10px;
    border-bottom-right-radius:25px !important;
}
.left{
    width: 33.33%;
    display: flex;
    flex-direction: column;
}
.right{
    width: 33.33%;
    display: flex;
    flex-direction: column;
}
.left-up{
    width: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.right-up{
    width: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;
    transition: transform .2s; /* Animation */
}
.right-up:hover{
    transform: scale(1.1);
}
.left-down{
    width: 50%; 
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}
.right-down{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.img-ofr{
    width: 200px;
}
@media only screen and (max-width:800px){
    .all{
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 100%;
        margin: auto;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .image{
   
        display: none;
        width: 100%;
        align-items: center;
        justify-content: center;
         
      }

      .left{
        width: 100%;
        display: flex;
      flex-direction:row ;
    }
    .right{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .img-ofr{
        width: 150px;
    }
}