<div id="mySidebar" class="sidebar shadow ">
    <!-- <img class="logo"  src="../../../assets/design/logolacasse.png" width="150" alt=""> -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <!-- <hr color="white"> -->
    <a routerLink=""><h3 class="rubrique"> Menu</h3> </a>
    <hr style="display: flex;width:80%; margin:auto" color="white">
    <a routerLink="/" type="button"><p class="rubrique">Annonces</p></a>
    <a routerLink="/" type="button"><p class="rubrique">Ajout d'annonce</p></a>
    <a routerLink="/" type="button"><p class="rubrique">Blog</p></a>
    <a routerLink="/" type="button"><p class="rubrique">Message </p> </a>
    <a routerLink="/" type="button"><p class="rubrique">Panier</p></a>
    <a routerLink="/" type="button"><p class="rubrique">Mon Compte</p></a>
    
    <a routerLink="/contact" type="button"><p class="rubrique">Contact</p></a>
    <hr style="display: flex;width:80%; margin:auto" color="white">
    <a routerLink="/" type="button"><p class="rubrique">Condition d'utilisation</p></a>
    <a routerLink="/" type="button"><p class="rubrique">Règles de diffusion</p></a>
  </div>

 