<div class="all">
  <div class="title">
    <img
      class="title-img"
      src="../../../assets/design/titleCatHome.png"
      alt=""
    />
  </div>
  <div class="categories">
    <div class="up">
      <div class="cat mt-1">
        <img
          class="img-ele"
          src="../../../assets/design/1.png"
          routerLink="/nos-produits-filtree/1/0/0/0/0/0"
          alt=""
        />
      </div>
      <div class="cat mt-1">
        <img
          class="img-ele"
          src="../../../assets/design/2.png"
          routerLink="/nos-produits-filtree/4/0/0/0/0/0"
          alt=""
        />
      </div>
      <div class="cat mt-1">
        <img
          class="img-ele"
          src="../../../assets/design/3.png"
          routerLink="/nos-produits-filtree/2/0/0/0/0/0"
          alt=""
        />
      </div>
      <div class="cat mt-1">
        <img
          class="img-ele"
          src="../../../assets/design/4.png"
          routerLink="/nos-produits-filtree/3/0/0/0/0/0"
          alt=""
        />
      </div>
      <div class="cat mt-1">
        <img
          class="img-ele"
          src="../../../assets/design/5.png"
          routerLink="/nos-produits-filtree/9/0/0/0/0/0"
          alt=""
        />
      </div>
    </div>

    <div class="down">
      <div class="cat mt-1">
        <img
          class="img-ele"
          src="../../../assets/design/6.png"
          routerLink="/nos-produits-filtree/5/0/0/0/0/0"
          alt=""
        />
      </div>
      <div class="cat mt-1">
        <img
          class="img-ele"
          src="../../../assets/design/7.png"
          routerLink="/nos-produits-filtree/7/0/0/0/0/0"
          alt=""
        />
      </div>
      <div class="cat mt-1">
        <img
          class="img-ele"
          src="../../../assets/design/8.png"
          routerLink="/nos-produits-filtree/6/0/0/0/0/0"
          alt=""
        />
      </div>
      <div class="cat mt-1">
        <img
          class="img-ele"
          src="../../../assets/design/9.png"
          routerLink="/nos-produits-filtree/10/0/0/0/0/0"
          alt=""
        />
      </div>
      <div class="cat mt-1">
        <img
          class="img-ele"
          src="../../../assets/design/10.png"
          routerLink="/nos-produits-filtree/8/0/0/0/0/0"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
