
<div class="fleche">
    <img  src="../../../assets/design/fleche2.png" type="button" (click)="onActivate($event)" alt="">
</div>
<app-menu-vertical></app-menu-vertical>
<div id="main">
    <div class="n" *ngIf="authService.isloggedIn"><app-menu-light></app-menu-light></div>
    <div class="n" *ngIf="!authService.isloggedIn" ><app-menu></app-menu></div>
    <app-carroussel></app-carroussel>
    <app-categories-home></app-categories-home>
    <app-slide2></app-slide2>
    <element-search></element-search>    
    <app-offres></app-offres>
    <app-footer></app-footer>
</div>
