.n{
    position: sticky;
    top:0px;
    width: 100%;
    z-index: 9990;

}
.all{
    display: flex;
   
}

.profile{
    width: 23%;
    /* z-index:9989; */
}
.profile-card{
    width:70%;
    margin: auto;
    border-radius: 10px
}
.profile-class{
    width:100% ;
    position:sticky;
     top:80px; 
}

.produits{
    width: 73%;
    border-radius: 25px;
}
.button-user{
    display: none;
}

@media only screen and (max-width:790px){
    .all{
        display: flex;
        flex-direction: column;
       
    }
    .profile{
        
        width: 100%;
        /* z-index:9989; */
    }
    .profile-card{
        width:90%;
        margin: auto;
        border-radius: 10px
    }
    .profile-class{
        width:100% ;
        position:sticky;
         top:80px; 
    }
    .profile-mobile{
        display:flex;
        width: 100%;
        position: sticky;
        top:40px;
        z-index: 3;
        /* z-index:9989; */
    }
    .produits{
        width: 90%;
        border-radius: 25px;
        margin: auto;
    }
    .photo{
        display: none;
    }
    .button-user{
        display: flex;
        border-radius: 0px;
        position: fixed;
        top: 1%;
        z-index: 9999;
        left: 80%;
    }

   
}


.fleche{
    position: sticky;
    top: -100px;  
    z-index: 9999;
}
.fleche img{
    position:absolute;
    left: 90%;
    /* top: -1184px; */
    top: 730px;
border-radius: 5px;
    width: 50px;
    height: 50px;
    transition: transform .2s;
    border: 2px solid white;
}
.fleche img:hover{
    transform: scale(1.1);
}
@media only screen and (max-width:800px){
    .fleche img{
        position:absolute;
        left: 80%;
        /* top: -1184px; */
        top: 800px;
    border-radius: 5px;
        width: 35px;
        height: 35px;
        transition: transform .2s;
        border: 2px solid white;
    }
    .fleche img:hover{
        transform: scale(1.1);
    } 
    #main {
      transition: none;
      padding: 0px;
      margin-Left:0px !important;
    } 
}
#main {
    transition: margin-left .5s;
    
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }





