@media only screen and (max-width:790px){
    .footer-user{
            
    }
    }
    .inscription-btn{
        color: rgb(128, 126, 126);
        text-decoration: none;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        z-index: 9999;
        transition: transform .2s;
    
      }
      .inscription-btn:hover {
        transform: scale(1.2);
      }
      .inscription-card{
        margin: 10%;
      }
      .modal-content{
        width:90%;
        margin: auto;
      }

      @media only screen and (max-width:800px){
        .fleche img{
            position:absolute;
            left: 80%;
            /* top: -1184px; */
            top: 800px;
        border-radius: 5px;
            width: 35px;
            height: 35px;
            transition: transform .2s;
            border: 2px solid white;
        }
        .fleche img:hover{
            transform: scale(1.1);
        } 
        #main {
          transition: none;
          padding: 0px;
          margin-Left:0px !important;
        } 
      }
      #main {
        transition: margin-left .5s;
        
        padding: 16px;
      }
      
      /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
      @media screen and (max-height: 450px) {
        .sidebar {padding-top: 15px;}
        .sidebar a {font-size: 18px;}
      }
      