<div class="body" style="background-color:#e9ebedaf;">
    <div class="title">
      <img src="../../../assets/design/LogoR.png" width="400" alt="">
     </div>
    <div class="card signup-card shadow mt-5"  >
      <div class="mt-2 ml-2 entete">
        <div><b>
          C'est bon, <br/>
          nous oublions tous parfois.
        </b><br/>
        Entrez votre adresse e-mail et nous vous enverrons le lien pour réinitialiser votre mot de passe. <br>
       <p style="color: #3F51B5;"><b>
        Nb: Consulter le SPAM si l'email introuvable dans la boites de reception.
       </b>
      </p> 
         
      </div>
      </div>
      <div class="row justify-content-md-center mt-3 mb-3">
          <div class="">
            <div class="alert alert-danger" *ngIf="usernames?.length  === 0">
              <p>
                email n'existe pas dans la base.<br/>Merci de verifier!
              </p>
            </div>
          </div>
        </div>
            <form>
                
                <div class="form-group mt-2" style="width:80% ;margin: auto;">
                    
                    <input type="text" name="username" class="form-control" [(ngModel)]="user.username" placeholder="Saisir votre email">
                </div>
                <div class="row justify-content-md-center mt-3 mb-5" hidden>
                    <button style="width:100%;margin: auto; border-radius: 20px;" type="button"  class="btn btn-primary mt-3">Connexion</button>
                </div>
                
            </form>

            <form [formGroup]="this.userService.passwordToken" (ngSubmit)="forgotPassword()" >
   
              <div class="form-group" hidden>
                  <label>
                      Nom:
                  </label>
                  <input id="nom" class="form-control" type="text" formControlName="token">
                </div>
                <div style="border-radius:20px;width: 80%;margin:auto;">
                  <button class="btn btn-primary mt-3"  style="border-radius:20px;width: 80%;margin:auto;"  type="submit">Confirmer</button>
                </div>
              
          </form>
          <div class="d-flex align-items-center ml-2 mb-2 mt-2"> <a type="button" (click)="backClicked()"> <i class="fa fa-long-arrow-left"></i> <span class="ml-1">Retour</span> </a>
                                 
          </div> 
          <form [formGroup]="this.userService.emailForm" (ngSubmit)="forgotPassword()" >
   
            <div class="form-group" hidden>  
                <input id="body" class="form-control" type="text" formControlName="body">
              </div>
              <div class="form-group" hidden>
                <input id="mailTo" class="form-control" type="text" formControlName="mailTo">
              </div>
              <div class="form-group"hidden>
                <input id="subject" class="form-control" type="text" formControlName="subject">
              </div>
            
        </form>
            
                  
              
         
             
         
          
      
   </div>
  </div>
  <app-footer></app-footer>
