.filtre-mobile{
    display: none;
    
    position: sticky;
    top: 150px;
}

.button-filtre{
    display: none;
    position: sticky;
    top: 25px;
    z-index: 9998;
}
.n{
    position: sticky;
    top:0px;
    width: 100%;
    z-index: 9998; 

}
.fa-search {
    content: "\f002";
    position: absolute;
    top: 33px;
    right: 280px;
}
.icon-categorie{
    position: absolute;
    top:96px;
    /* right: 300px; */
    left: 50px;

}
.icon-control {
    margin-top: 5px;
    float: right;
    font-size: 80%;
}



.btn-light {
    background-color: #fff;
    border-color: #e4e4e4;
}

.list-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.list-menu a {
    color: #343a40;
}


.filter2{
    display: none;
    background-color:#ddd;
   
    width: 100%;
    border-radius: 1rem;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: sticky;
   top: 85px;
    
}



/* .marque {
   
    width: 90%;
   
    margin-top: 10%;

   
} */

.all{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background-color: #d6def3;  */
    /* background-color: #f4d5da; */


}


.filtre{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
    margin: auto;
   position: sticky;
   top: 85px;
   height:400px;
   background-image: url(../../../../assets/design/ficheproduit.png
   );
   /* background-color: #f1f4fb; */
}
.search-input{
    width: 80%;
    margin: auto;  
}
.search-input input{
    border-radius: 10px;
    transition: transform .2s; /* Animation */
}

.search-input input::placeholder {
    font-weight: bold;
    opacity: .5;
    color: rgb(53, 52, 52);
}
.search-input  input:hover{
    transform: scale(1.1);
}

.categorie-scategorie input{
    border-radius: 10px;
    transition: transform .2s; /* Animation */
}

.categorie-scategorie  input:hover{
    transform: scale(1.1);
}

.categorie-scategorie {
    display: flex;
    width: 100%;  
}

.filter-btn{
    background-image: url(../../../../assets/design/menu.png);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    transition: transform .2s;
}
.filter-btn:hover{
    transform: scale(1.2);
} 
select{
    border-radius: 10px;
    transition: transform .2s; /* Animation */
}
select:hover{
    transform: scale(1.2);
}
.filter-interne{
    position: sticky; 
    top: 85px;width: 95%;
    /* border:2px rgb(135, 135, 135) solid; */
    /* border-radius: 1rem; */
    background-color: #e9ebedaf  
}
.btnFiltre{
    align-items: flex-end;
    justify-content: flex-end;
}

app-produits-filtred{
    width: 75%;
}

.produits{
    width: 75%;



}

.option{
    display: flex;
    flex-direction: column;

}

.inputFiltre{
    border: none;
    background-color: #f1f4fbd3;
    /* background-color: #e5e6e698; */
    /* border-radius: 50px; */
    
}

.recherche{
    border: none;
    background-color: #f1f4fbd3;
}

.select{
   
    /* text-align: center;
    margin: auto; */
}
.search-btn{
    display: flex;    
    width: 18%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.mod-mar{
display: flex;

align-items: center;
justify-content: space-between;


}
.marque{
    width: 45%;
    font-size: 15px;
    font-weight: bold;
    

}
.modele{
    width: 45%;

}
.filter{
    background-color:#ddd;
    background-image: url(../../../../assets/design/ficheproduit.png);
        background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    width: 25%;
    border-radius: 1rem;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: sticky;
   top: 85px;
    
}
.filtre{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
    margin: auto;
   position: sticky;
   top: 85px;
   height:400px;
   /* background-color: #f1f4fb; */
  

   

}

input{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}


.produits{
    background-color: #f4f4f4;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
	background: #F5F1EE;
	font-family: 'Roboto', sans-serif;
}
.card{
	width: 250px;
	border-radius: 10px;
}

.card-img-top{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
span.text-muted{
	font-size: 12px;
}
small.text-muted{
	font-size: 8px;
}
h5.mb-0{
	font-size: 1rem;
}
small.ghj{
	font-size: 9px;
}
.mid{
	background: #ECEDF1;
}
h6.ml-1{
	font-size: 13px;
}
small.key{
	text-decoration: underline;
	font-size: 9px;
	cursor: pointer;
}
.btn-danger{
	color: #FFCBD2;
}
.btn-danger:focus{
	box-shadow: none;
}
small.justify-content-center{
	font-size: 9px;
	cursor: pointer;
	text-decoration: underline;
}

@media screen and (max-width:600px){
    .col-sm-4{
        margin-bottom: 50px;
    }
}
@media only screen and (max-width:790px){
    .filtre{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: auto;
       position: sticky;
       top: 85px;
       height:400px;
    }
    .filter{
        display: none;
        /* background-color:#ddd; */
    
       
        width: 100%;
        border-radius: 1rem;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        position: sticky;
       top: 85px;
        
    }
    .filter2{
        margin-top: 0px;
        display: flex;
        background-color:#ddd;
       z-index: 12;
        width: 100%;
        border-radius: 1rem;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
         position: fixed;
       top: 54px; 
        
    }
    
.all{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.produits{
   margin-top: 10px; 
    width: 100%;
    
    
}
.energy{
    margin-top: 100px;
   
    
}
.filtre-mobile{
    display:flex;  
    
    position: relative;
    top: 150px;
}

.button-filtre{
    display: flex;
    position: fixed;
    border-radius: 0px;
    top: 1%;
    z-index: 9999;
    left: 70%;
    
}
.essence{
    
}

.diesel{
    
}
.electrique{
    
}
.gpl{
    
}
.groupe{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0%;
    margin-top: -20%;
}
.button-filtre-div{
    display: flex;
    position: fixed;
    border-radius: 25px;
    top: 1%;
    z-index: 9999;
    left: 70%;  
}
}
@media only screen and (max-width:790px){
    select{
       font-size: 14px;
    }  
}

.fleche{
    position: sticky;
    top: -100px;  
    z-index: 9999;
}
.fleche img{
    position:absolute;
    left: 90%;
    /* top: -1184px; */
    top: 730px;
border-radius: 5px;
    width: 50px;
    height: 50px;
    transition: transform .2s;
    border: 2px solid white;
}
.fleche img:hover{
    transform: scale(1.1);
}
@media only screen and (max-width:800px){
    .fleche img{
        position:absolute;
        left: 80%;
        /* top: -1184px; */
        top: 750px;
    border-radius: 5px;
        width: 35px;
        height: 35px;
        transition: transform .2s;
        border: 2px solid white;
    }
    .fleche img:hover{
        transform: scale(1.1);
    } }